<header id="fh5co-header" role="banner" >
  <div class="container" >
    <div class="header-inner row" >
      <h1 class="col-md-2" >
        <a href="#">
          <img src="assets/images/logo.png" style="max-width: 50%; margin-top: -25%;">
          <!-- Cross Abroad -->
          <!-- <span>.</span> -->
        </a>
      </h1>
      <nav role="navigation col-md-10">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a routerLink="apply-now">Register</a></li>
          <li><a routerLink="partners">Partners</a></li>
          <li><a routerLink="about-us">About Us</a></li>
          <li><a routerLink="contact-us">Contact Us</a></li>
          <li class="cta"><a routerLink="apply-now">Apply Now</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
