<aside id="fh5co-hero" class="js-fullheight">
  <div class="flexslider js-fullheight">
    <ul class="slides">
      <li style="background-image: url(assets/images/slider-paris.jpg); animation: shrink 10s infinite alternate;">
        <div class="overlay-gradient"></div>
        <div class="container">
          <div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
            <div class="slider-text-inner">
              <h2 style="text-shadow: #020201 1px 1px, #040402 2px 2px" >Study now in Paris</h2>
              <p><a routerLink="apply-now" class="btn btn-primary btn-lg">Apply Now</a></p>
            </div>
          </div>
        </div>
      </li>
      <li style="background-image: url(assets/images/milan.jpg); animation: shrink 10s infinite alternate;">
        <div class="container">
          <div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
            <div class="slider-text-inner">
              <h2 style="text-shadow: #020201 1px 1px, #040402 2px 2px">Study Now in Milan</h2>
              <p><a routerLink="apply-now" class="btn btn-primary btn-lg">Apply Now</a></p>
            </div>
          </div>
        </div>
      </li>
      <li style="background-image: url(assets/images/dubai.jpg); animation: shrink 10s infinite alternate;">
        <div class="container">
          <div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
            <div class="slider-text-inner">
              <h2 style="text-shadow: #020201 1px 1px, #040402 2px 2px">Study now in Dubai</h2>
              <p><a routerLink="apply-now" class="btn btn-primary btn-lg">Apply Now</a></p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</aside>

<div id="fh5co-why-us" class="" style="padding-bottom: 0;">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
        <h2>Why Choose Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
          texts. </p>
      </div>
      <div class="col-md-4 text-center item-block">
        <span class="icon"><img src="assets/images/why-us-application.png" alt="Free HTML5 Templates"
            class="img-responsive"></span>
        <h3>Strategy</h3>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
          texts. Separated they live in Bookmarksgrove.</p>

      </div>
      <div class="col-md-4 text-center item-block">
        <span class="icon"><img src="assets/images/why-us-scholarship.png" alt="Free HTML5 Templates"
            class="img-responsive"></span>
        <h3>Explore</h3>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
          texts. Separated they live in Bookmarksgrove.</p>

      </div>
      <div class="col-md-4 text-center item-block">
        <span class="icon"><img src="assets/images/why-us-visa.png" alt="Free HTML5 Templates"
            class="img-responsive"></span>
        <h3>Expertise</h3>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
          texts. Separated they live in Bookmarksgrove.</p>

      </div>
    </div>
  </div>
</div>


<div class="fh5co-section-with-image">

  <img src="assets/images/italy.jpg" alt="" class="img-responsive" width="100%" >
  <div class="fh5co-box">
    <h2>About Us</h2>
    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
      texts. Separated they live in Bookmarksgrove.</p>
    <p><a routerLink="apply-now" class="btn btn-primary btn-outline with-arrow">Apply Now <i class="icon-arrow-right"></i></a></p>
  </div>

</div>

<div id="fh5co-testimonial" class="">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
        <h2>Happy Clients</h2>
        <p>Your satisfaction is our number one priority </p>
      </div>
      <div class="col-md-4 text-center item-block">
        <blockquote>
          <p>&ldquo; She packed her seven versalia, put her initial into the belt and made herself on the way. When she
            reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown
            Bookmarksgrove, the headline of. &rdquo;</p>
          <p><span class="fh5co-author primary-text"><cite>Jason Davidson</cite></span>
            <!-- <i class="icon twitter-color icon-twitter pull-right"></i> -->
            </p>

        </blockquote>
      </div>
      <div class="col-md-4 text-center item-block">
        <blockquote>
          <p>&ldquo; Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran
            over her cheek, then she continued her way. She had a last view back on the skyline of her hometown
            Bookmarksgrove, the headline of. &rdquo;</p>
          <p><span class="fh5co-author primary-text"><cite>Kyle Smith</cite></span>
            <!-- <i class="icon googleplus-color icon-google-plus pull-right"></i> -->
          </p>
        </blockquote>
      </div>
      <div class="col-md-4 text-center item-block">

        <blockquote>
          <p>&ldquo; The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question
            Marks and devious Semikoli, but the Little Blind Text didn’t listen. S he had a last view back on the
            skyline of her hometown Bookmarksgrove. &rdquo;</p>
          <p><span class="fh5co-author primary-text"><cite>Rick Cook</cite></span>
            <!-- <i class="icon facebook-color icon-facebook pull-right"></i> -->
          </p>
        </blockquote>
      </div>
    </div>
  </div>
</div>

<div id="fh5co-blog" class="">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
        <h2>Our Partners</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <img src="assets/images/bristolnew.png" style="max-width:100%;
            max-height:100%;">
      </div>
      <div class="col-md-2">
        <img src="assets/images/Exeter.png" style="max-width:100%;
        max-height:100%;">
      </div>
      <div class="col-md-2">
        <img src="assets/images/liverpoolNEW.png" style="max-width:100%;
        max-height:100%;">
      </div>
      <div class="col-md-2">
        <img src="assets/images/Nottingham.png" style="max-width:100%;
        max-height:100%;">
      </div>
      <div class="col-md-2">
        <img src="assets/images/Warwick.png" style="max-width:100%;
        max-height:100%;">
      </div>
      <div class="col-md-2">
        <img src="assets/images/York.png" style="max-width:100%;
        max-height:100%;">
      </div>
    </div>
  </div>
</div>


<app-apply-now-card></app-apply-now-card>
