<div style="background-image: url(assets/images/big-ben.jpg); background-size: 100%; text-align: center;
  vertical-align: middle;
  line-height: 600px;
  background-position: center;
  height: 600px;
  animation: shrink 10s infinite alternate;
  ">
  <!-- <h1 class="strong" style="padding-top: 300px; color: white">About Us</h1> -->
  <h1 class="title" style="padding-top: 300px;">
    <span class="title-part line-1">About Us</span>
  </h1>
</div>
<div class="fh5co-about ">
  <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
    <!-- <h2>About Us</h2> -->
    <p>
      Cross Abroad is an educational consultancy based in Beirut, Lebanon. Our aim is to consult international students
      with services related to university programs, application process, accommodation and visa across the globe. Also,
      we strive to ensure that our student’s receive career guidance based on their expectations that enable them to
      acquire skills and new perspectives that make each individual more competitive in achieving their professional
      goals.
    </p>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="assets/images/why-us-scholarship.png" width="50%">
      </div>
      <div class="col-md-8">
        <h2>Our Mission</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
          texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
          blind texts. Separated they live in Bookmarksgrove. Far far away, behind the word mountains, far from the
          countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far
          from
          the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="assets/images/why-us-scholarship.png" width="50%">
      </div>
      <div class="col-md-8">
        <h2>Our Goal</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
          texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
          blind texts. Separated they live in Bookmarksgrove. Far far away, behind the word mountains, far from the
          countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far
          from
          the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="assets/images/why-us-scholarship.png" width="50%">
      </div>
      <div class="col-md-8">
        <h2>Our Vision</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
          texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
          blind texts. Separated they live in Bookmarksgrove. Far far away, behind the word mountains, far from the
          countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far
          from
          the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.</p>
      </div>
    </div>
  </div>
</div>

<hr style="display: block; height: 1px;
border: 0; border-top: 2px solid #33c9ff;
margin: 0px 300px 150px 300px; padding: 0; ">

<div id="fh5co-why-us" class="" style="padding: 0;">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
        <h2>Why Choose Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
          texts. </p>
      </div>
      <div class="col-md-4 text-center item-block">
        <span class="icon"><img src="assets/images/why-us-application.png" alt="Free HTML5 Templates"
            class="img-responsive"></span>
        <h3>Strategy</h3>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
          texts. Separated they live in Bookmarksgrove.</p>

      </div>
      <div class="col-md-4 text-center item-block">
        <span class="icon"><img src="assets/images/why-us-scholarship.png" alt="Free HTML5 Templates"
            class="img-responsive"></span>
        <h3>Explore</h3>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
          texts. Separated they live in Bookmarksgrove.</p>

      </div>
      <div class="col-md-4 text-center item-block">
        <span class="icon"><img src="assets/images/why-us-visa.png" alt="Free HTML5 Templates"
            class="img-responsive"></span>
        <h3>Expertise</h3>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
          texts. Separated they live in Bookmarksgrove.</p>

      </div>
    </div>
  </div>
</div>


<app-apply-now-card></app-apply-now-card>
