/* You can add global styles to this file, and also import other style files */
/* for desktop */
.whatsapp_float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.whatsapp-icon {
  margin-top: 16px;
}

/* for mobile */
@media screen and (max-width: 767px) {
  .whatsapp-icon {
    margin-top: 10px;
  }

  .whatsapp_float {
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 10px;
    font-size: 22px;
  }
}

@keyframes shrink {
  0% {
    background-size: 115% 115%;
  }
  100% {
    background-size: 100% 100%;
  }
}

@keyframes slideToRight {
  0% {
    margin-left: -100px;
  }
  100% {
    margin-left: 0px;
  }
}

.title {
  font-size: 4vw;
}
.title .title-part {
  font-weight: 500;
  text-transform: none;
  display: block;
  color: #ffffff;
}
.title .title-part.line-1 {
  text-shadow: #020201 1px 1px, #040402 2px 2px, #060603 3px 3px;
}

@media screen and (max-width: 768px) {
  .title .title-part.line-1 {
    text-shadow: #020201 1px 1px, #040402 2px 2px, #060603 3px 3px;
    padding-bottom: 100px !important;
  }
}

.hero-background {
  height: 600px !important;
}

@media screen and (max-width: 767px) {
  /* .hero-background{
    height: auto!important;
  } */
  .hero-background {
    height: 250px !important;
  }
  .title {
    font-size: 7vw;
  }
}

.slider-background {
}

@media screen and (max-width: 767px) {
  .slider-background {
    height: 300px !important;
    min-height: 300px !important;
  }
}

.hero-text {
  padding-top: 300px !important;
}

@media screen and (max-width: 767px) {
  .hero-text {
    padding-top: 100px !important;
  }
}

.hero-quote {
  text-shadow: #020201 1px 1px, #040402 2px 2px;
  font-size: 50px;
  font-weight: 200 !important;
  font-family: "system-ui";
  color: #fff;
}

@media screen and (max-width: 767px) {
  .hero-quote{
    font-size: 23px!important;
  }
}
